@charset "utf-8";
/* CSS Document */

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width:1200px){

ul nav navbar-nav{
	list-style-type:none;
}

/* ------------ HEADER ------------*/
header{
	width:1000px;
	margin:10px auto;
}
.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;
	width: 1000px;
}
.avans{
	display:none;	
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
    padding: 10px 0px 10px 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px !important;
    font-size: 20px;
    height: 110px;
}
/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
	height: 725px;
}
section#home {
    padding-top: 120px;
	margin:0 auto;
	height:900px;
}
section#opleiding {
    padding-top: 100px;
	margin:0 auto;
}
section#vakken {
	padding-top: 100px;
	margin: 0 auto 0px auto;

}
section#locaties {
    padding-top: 110px;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/
table.period th {
    padding-left: 6px;
    border: lightgrey solid 1px;
	width: 103px;
}
.progress-label {
    float: left;
}

ul.nav-tabs{
	border:none;

}
.empty{
	margin:0;
	border:solid 1px #ccc;	
}
.border{
	border:solid 2px #ccc;	
	border-top:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
div#leerjaar4{
    width: 996px;	
}
}
/* Medium devices (tablets, 992px and up) */
@media (min-width:993px) and (max-width:1199px) and (orientation : landscape){
/* ------------ SEPERATOR ------------*/
.none img, .grey_reversed img, .grey img{
	display:none;
}
/* ------------ HEADER ------------*/

.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;

}
header{
	margin:10px auto;
}
.avans{
	display:none;	
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
    padding: 10px 0px 10px 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px !important;
    font-size: 20px;
    height: 110px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 

/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
}
section#home {
    padding-top: 120px;
	margin:0 auto;
}
section#opleiding {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#vakken {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#locaties {
    padding-top: 110px;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/
table.period th {
    padding-right: 6px;
    padding-left: 4px;
    border: lightgrey solid 1px;
    font-size: 11px;
}
.tab-content {
    width: 550px;
}
p.progress-label {
    font-size: 11px;
}
ul.nav-tabs{
	border:none;

}
.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

}
/* Medium devices (tablets, 992px and up) */
@media (min-width:768px) and (max-width:992px) and (orientation : portrait){
/* ------------ SEPERATOR ------------*/
.none img, .grey_reversed img, .grey img{
	display:none;
}
/* ------------ HEADER ------------*/

.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;
}
header{
	margin:10px auto;
}
.avans{
	display:none;	
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
    padding: 10px 0px 10px 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px !important;
    font-size: 20px;
    height: 110px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 

/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
}
section#home {
    padding-top: 120px;
	margin:0 auto;
}
section#vakken {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#opleiding {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#locaties {
    padding-top: 110px;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/
table.period th {
    padding-right: 83px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}
ul.nav-tabs{
	border:none;
}
.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
}
@media (min-width:768px) and (max-width:992px) and (orientation : landscape){
/* ------------ SEPERATOR ------------*/
.none img, .grey_reversed img, .grey img{
	display:none;
}
/* ------------ HEADER ------------*/

.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;
}
header{
	margin:10px auto;
}
.avans{
	display:none;	
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
    padding: 10px 0px 10px 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px !important;
    font-size: 20px;
    height: 110px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 

/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
}
section#home {
    padding-top: 120px;
	margin:0 auto;
}
section#opleiding {
	padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#vakken {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#locaties {
    padding-top: 110px;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/
table.period th {
    padding-right: 90px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}
ul.nav-tabs{
	border:none;
}
.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width:669px) and (max-width:767px){
/* ------------ SEPERATOR ------------*/
.none img, .grey_reversed img, .grey img{
	display:none;
}
/* ------------ HEADER ------------*/

.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;

}

header{

	margin:10px auto;
}
.avans {
    text-align: center;
    padding-top: 10px;
    color: white;
    width: 23%;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
}
/* ------------ MENUBAR ------------*/
.navbar-default .navbar-toggle{
	border:none;
	background: #980121 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
.nav>li>a{
	background-color: #C6002A !important;
	color:white !important;
	text-align:center;
	padding: 10px 13px 10px 13px !important;
    font-size: 12px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 15px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 
.navbar navbar-default img, .navbar-fixed-top img{
display:none;
}

/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
	height: 725px !important;
}
section#home {
    padding-top: 120px;
	margin:0 auto;
}
section#opleiding {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#vakken {
    padding-top: 100px;
	margin: 0 auto 0px auto;
}
section#locaties {
    padding-top: 110px;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
	margin:0 auto;
	height:530px;
}
/* ------------ BARS ------------*/
 
table.period th {
    padding-right: 83px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}


ul.nav-tabs{
	border:none;

}

.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
}
/* Small devices (phones, 768px and up) iphone 6 landscape*/
@media(max-width:668px) and (orientation : landscape){
/* ------------ SEPERATOR ------------*/
.none img, .grey_reversed img, .grey img{
	display:none;
}
/* ------------ HEADER ------------*/
.container_header {
    margin-right: auto;
    margin-left: auto;
}
header{
	margin:10px auto;
}
.avans{
	text-align:center;	
	padding-top:10px;
	color:white;
    width: 23%;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
}

/* ------------ MENUBAR ------------*/
.navbar-default .navbar-toggle{
	border:none;
	background: #980121 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
.nav>li>a{
	background-color: #C6002A !important;
	color:white !important;
	text-align:center;
    padding: 10px 29px 10px 29px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 15px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
	background-color: #C6002A;
} 
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
	background-color: #C6002A;
} 
.navbar navbar-default img, .navbar-fixed-top img{
	display:none;
}
/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
	padding-bottom: 15px;
}
section#home {
	padding:60px 15px 0 15px;
	margin:0 auto;
}
section#opleiding {
	padding:60px 15px 0 15px;
	margin: 0 auto 0px auto;
}
section#vakken {
	padding:60px 15px 0 15px;
	margin: 0 auto 0px auto;
}
section#locaties {
    padding-top: 50px;
	margin:0 auto;
}
section#contact {
	padding:60px 15px 0 15px;
	margin:0 auto;
	height:350px;
}
/* ------------ BARS ------------*/
.progress{
	margin-bottom:0 !important;	
}
ul.nav-tabs{
	border:none;
}
table.period th {
	padding-right: 45px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}
ul.nav-tabs{
	border:none;
}

.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
}
/* Small devices (phones, 668px and up) iphone 6 portrait*/
@media(max-width:668px) and (orientation : portrait){
/* ------------ SEPERATOR ------------*/
.none img, .grey_reversed img, .grey img{
	display:none;
}
/* ------------ HEADER ------------*/
.container_header {
    margin-right: auto;
    margin-left: auto;
}

header{
	margin:10px auto;
}
.avans{
	text-align:center;	
	padding-top:10px;
	color:white;
    width: 23%;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
}

/* ------------ MENUBAR ------------*/
.navbar-default .navbar-toggle{
	border:none;
	background: #980121 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
.nav>li>a{
	background-color: #C6002A !important;
	color:white !important;
	text-align:center;
    padding: 10px 10px 10px 10px !important;
    font-size: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 15px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
	background-color: #C6002A;
} 
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
	background-color: #C6002A;
} 
.navbar navbar-default img, .navbar-fixed-top img{
	display:none;
}
/* ------------ CONTENT ------------*/
.container{
    width: 100% !important;	
	padding-bottom: 15px;
}
section#home {
	padding:60px 15px 0 15px;
	margin:0 auto;
}
section#opleiding {
	padding:60px 15px 0 15px;
	margin: 0 auto 0px auto;
}
section#vakken {
	padding:60px 15px 0 15px;
	margin: 0 auto 0px auto;
}
section#locaties {
    padding-top: 50px;
	margin:0 auto;
}
section#contact {
	padding:60px 15px 0 15px;
	margin:0 auto;
	height:530px;
}
/* ------------ BARS ------------*/
.progress{
	margin-bottom:0 !important;	
}
ul.nav-tabs{
	border:none;

}
table.period th {
    padding-right: 1px;
    padding-left: 1px;
    border: lightgrey solid 1px;
    font-size: 13px;
}
ul.nav-tabs{
	border:none;

}
.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
}