@charset "utf-8";
/* CSS Document */
body {
    width: 100%;
    height: 100%;
	font-family:Arial;
}

html {
    width: 100%;
    height: 100%;
}
h1,h2,h3{
	color: #C6002A !important;
}
/* ------------ LOCATION ------------*/
.img1, .img2, .img3{
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.img1 {
	background-image:url(../img/maps.png);
	height:480px;
}
.img2 {
	background-image:url(../img/maps.png);
	height:480px;
}
.img3 {
	background-image:url(../img/maps.png);
	height:480px;
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width:1200px){

ul nav navbar-nav{
	list-style-type:none;
}
/* ------------ WRAPPER ------------*/
#wrapper{
	width:1000px;
	margin:10px auto;
	height:400px;
}
/* ------------ HEADER ------------*/
header{
	width:1000px;
	margin:10px auto;
}
.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;
	width: 1000px;
}
.avans{
	display:none;	
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
    padding: 10px 0px 10px 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px !important;
    font-size: 20px;
    height: 110px;
}
/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
}
section#home {
    padding-top: 120px;
    background: #fff;
	width:1000px;
	margin:0 auto;
}
section#vakken {
    padding-top: 100px;
    background: #fff;
	width:1000px;
	margin:0 auto;
	height:100%;
}
section#locaties {
    padding-top: 110px;
    background: #fff;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
    background: #fff;
	width:1000px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/

.col-md-2 td {
    padding: 10px;
}
table.period {
    margin: 10px 0px;
}
table.period td {
    padding-right: 45px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}
.progress-label {
    float: left;
}
.progress-bar.empty {
    background: none;
	border: none;
	box-shadow: none;
}
ul.nav-tabs{
	border:none;

}

.empty{
	margin:0;
	border:solid 1px #ccc;	
}
.border{
	border:solid 2px #ccc;	
	border-top:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
div#leerjaar4{
    width: 996px;	
}

/* ------------ FOOTER ------------*/
footer{
	text-align:center;	
	background:black;
	color:white;
	padding:10px 0px;
}



}

/* Medium devices (desktops, 992px and up) */
@media (min-width:768px) and (max-width:1199px) {
/* ------------ WRAPPER ------------*/
#wrapper{
	width:700px;
	margin:10px auto;
	height:400px;

} 
#wrapper .col-md-6{
	padding:0;	
}
/* ------------ HEADER ------------*/

.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
.container_header {
    margin-right: auto;
    margin-left: auto;

}

header{

	margin:10px auto;
}
.avans{
	display:none;	
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
    padding: 10px 0px 10px 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px !important;
    font-size: 20px;
    height: 110px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 

/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
}
section#home {
    padding-top: 120px;
    background: #fff;
	width:700px;
	margin:0 auto;
}
section#vakken {
    padding-top: 100px;
    background: #fff;
	width:700px;
	margin:0 auto;
    height: 1450px;
}
section#locaties {
    padding-top: 110px;
    background: #fff;
	margin:0 auto;
}
section#contact {
    padding-top: 120px;
    background: #fff;
	width:700px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/

.col-md-2 td {
    padding: 10px;
}
table.period {
    margin: 10px 0px;
} 
table.period td {
    padding-right: 90px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}

.progress-bar.empty {
    background: none;
	border: none;
	box-shadow: none;
}
ul.nav-tabs{
	border:none;

}

.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/* ------------ FOOTER ------------*/
footer{
	text-align:center;	
	background:black;
	color:white;
	padding:10px 0px;
}

}

/* Small devices (tablets, 768px and up) */
@media(max-width:767px) {
/* ------------ HEADER ------------*/
.container_header {
    margin-right: auto;
    margin-left: auto;

}

header{

	margin:10px auto;
}
.avans{
	text-align:center;	
	padding-top:10px;
	color:white;
    width: 23%;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
}
/* ------------ MENUBAR ------------*/
.navbar-default .navbar-toggle{
	border:none;
	background: #980121 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
.nav>li>a{
	background-color: #C6002A !important;
	color:white !important;
	text-align:center;
    padding: 10px 13px 10px 12px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 15px;
}
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
	padding: 0;
}
.navbar-header.page-scroll {
background-color: #C6002A;
} 
.navbar navbar-default img, .navbar-fixed-top img{
display:none;
}
/* ------------ CONTENT ------------*/

.container{
    width: 100% !important;	
	padding-bottom: 15px;
}
section#home {
    background: #fff;
	padding:60px 15px 0 15px;
	margin:0 auto;
}
section#vakken {
    background: #fff;
	padding:60px 15px 0 15px;
	margin:0 auto;
    height: 1450px;
}
section#locaties {
    padding-top: 50px;
    background: #fff;
	margin:0 auto;
}
section#contact {
    background: #fff;
	padding:60px 15px 0 15px;
	margin:0 auto;
	height:900px;
}
/* ------------ BARS ------------*/

.progress-bar.empty {
    background: none;
	border: none;
	box-shadow: none;
}
.progress{
	margin-bottom:0 !important;	
}
ul.nav-tabs{
	border:none;

}
.col-md-2 td {
    padding: 10px;
}
table.period {
    margin: 10px 0px;
} 
table.period td {
    padding-right: 12px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}
ul.nav-tabs{
	border:none;

}

.empty{
	display:none;
}
.border{
	border:solid 2px #ccc;	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

/* ------------ FOOTER ------------*/
footer{
	text-align:center;	
	background:black;
	color:white;
	padding:10px 0px;
}

}
