@charset "utf-8";
/* CSS Document */
body {
    width: 100%;
    height: 100%;
	font-family:Arial;
}

html {
    width: 100%;
    height: 100%;
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width:1200px){

ul{
	list-style-type:none;
}
/* ------------ WRAPPER ------------*/
#wrapper{
	width:1000px;
	margin:10px auto;
}
/* ------------ HEADER ------------*/
header{
	width:1000px;
	margin:10px auto;
}
.navbar navbar-default img, .navbar-fixed-top img{
	float:right;
    padding: 5px 0;
}
/* ------------ MENUBAR ------------*/
.nav>li>a{
	background-color: #C6002A !important;
    width: 100px;
	color:white !important;
	text-align:center;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color: #980121 !important;
    text-align:center;
	height: 110px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: #C6002A !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    padding-top: 45px;
    font-size: 20px;
}
/* ------------ CONTENT ------------*/
.container_header {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	width: 1000px;
}

.container{
	margin-top: 10px;
    width: 100% !important;	
}
section#home {
    padding-top: 150px;
    background: #fff;
	width:1000px;
	margin:0 auto;
}
section#vakken {
    padding-top: 150px;
    background: #fff;
	width:1000px;
	margin:0 auto;
}
section#locaties {
    padding-top: 150px;
    background: #fff;
	margin:0 auto;
}

/* ------------ BARS ------------*/

.col-md-2 td {
    padding: 10px;
}
table.period {
    margin: 12px 0px;
}
table.period td {
    padding-right: 125px;
    padding-left: 6px;
    border: lightgrey solid 1px;
}
.progress-label {
    float: left;
}
.progress-bar.empty {
    background: none;
}
ul.nav-tabs{
	border:none;
	margin-left: 190px;

}
.nav>li>a.tabs{
	margin:0;	
}
.empty{
	margin:0;
	border:solid 1px #ccc;	
}
.border{
	border:solid 2px #ccc;	
	border-top:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: #980121 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/* ------------ LOCATION ------------*/
#parallax {
    /* The image used */
    background-image: url("");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* ------------ FOOTER ------------*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Small devices (tablets, 768px and up) */
@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
